[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-extensions = "*"
djangorestframework = "*"
django-pyodbc-azure = "*"
gunicorn = "*"
django-heroku = "*"
django-pyodbc = "*"

[requires]
python_version = "3.7"
